<%= form_for [@stock, @earning] do |f| %> 
 <%= f.error_messages %>

 <table>
<tr><td><b>Year</td><td><b>Earnings</td><td><b>PE</td><td><b>Div.</td><td ><b>SH EQ</td></tr>

<% 1.times do |row| %>

<tr>
  <td>
    <%= f.text_field :year, :size => 5 %>
  </td>
  <td>
    <%= f.text_field :earnings , :size => 5 %>
  </td> 
  <td>
    <%= f.text_field :pe , :size => 5 %>
  </td>
  <td>
    <%= f.text_field :div , :size => 5 %>
  </td>
  <td>
   <%= f.text_field :sheq , :size => 5 %>
  </td>
</tr>
<% end %>
</table>
  
 </p>
 <%= f.submit %>
<%= link_to "Cancel", stocks_path %>
<% end %>
