
<div class="pull-left">

<%= form_for (@stock) do |f| %> 
 <%= f.error_messages %>



 <table>
<tr>
  <td><b>Year</td><td><b>Earnings</td>
  <td><b>PE</td><td><b>Div.</td>
  <td ><b>SH EQ</td><td>Delete</td>
</tr>

 <%= f.fields_for :earnings do |earning_fields| %>

  <tr>
  <td> 
    <%= earning_fields.text_field :year %>
  </td>
  <td>
    <%= earning_fields.text_field :earnings %>
  </td> 
  <td>
    <%= earning_fields.text_field :pe %>
  </td>
  <td>
    <%= earning_fields.text_field :div  %>
  </td>
  <td>
   <%= earning_fields.text_field :sheq %>
  </td>
  <td>
    <%= earning_fields.check_box :_destroy %>
  </td>
</tr>
<% end %>
</table>
  <%= f.submit value = "Update Earnings" %></br>
 </p>

<% end %>
</div>
