<h2>New Earnings </h2>
<%= render "form" %>
<!-- <h2><%= @stock.symbol %> Add New 10 yrs. Earnings</h2>

<table>
<tr>
  <td><b>Year</td>
  <td><b>Earnings</td>
  <td><b>PE</td>
  <td><b>Div.</td>
  <td><b>SH EQ</td>
</tr>
 <%= form_for (@stock) do |f| %> 
  <%= f.error_messages %>
 <b>Count</b>
    <%= @stock.earnings.count %>
    <b>Years:</b>
     <%# = @ten_years_ago[0] :value => "#{@yr}" ,  %> 
    <%# = 10.times do |year| %>
   <%# = @yr = (@ten_years_ago[0].to_i + year) %>
   <%= f.fields_for :earnings, @stock.earnings.each  do |earning_fields| %> 
  
<tr>
  <td>
    <%=  earning_fields.text_field :year,  :size => 5 %>
  </td>
  <td>
    <%= earning_fields.text_field :earnings, :size => 5 %>
  </td> 
  <td>
    <%= earning_fields.text_field :pe,  :size => 5 %>
  </td>
  <td>
    <%= earning_fields.text_field :div, :size => 5 %>
  </td>
  <td>
   <%= earning_fields.text_field :sheq,  :size => 5 %>
  </td>
</tr>
<% end %>
<% # end %>
</table>

<p>
 <%= f.submit value = "Create New Earnings"%>

<%end %>
<%= link_to "Cancel", stocks_path %>
 -->