<h2><%= @portfolio.name %> <h2>
	<% p_stocks = @portfolio.stocks%>
	<div id="contentBox" style="margin:0px auto; width:70%">

<%#columns divs, float left, no margin so there is no space between column, width=1/2 %>
<div id="column1" style="float:left; margin:0; width:33%;">
 	<% p_stocks.each do |stock|%>
		<p><font size = "4"><%= link_to stock.name, stock %></font></p>
	<% end %>
</div>

<div id="column2" style="float:left; margin:0;width:33%">
	<div class="field">
		<%= form_for @portfolio do |f| %>
			<% Stock.all.each do |stock| %>
			 	<%= check_box_tag "portfolio[stock_ids][]", stock.id, @portfolio.stock_ids.include?(stock.id), id: dom_id(stock) %>
			 	<%= label_tag dom_id(stock), stock.name %><br>
			<% end %>
			<%= f.submit %>
		<% end %>

	</div>
</div>
