
<div class="pull-left">
 <%= form_for(@stock) do |f| %> 

 <%= f.error_messages %>

  <%= f.label :name %>
  <%= f.text_field :name %>
 
  <%= f.label :symbol %>
  <%= f.text_field :symbol %>

  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.label :pe %>
  <%= f.text_field :pe %>

  <%= f.label :div %>
  <%= f.text_field :div %>

    <%= f.label :guess_growth %>
    <%= f.text_field :guess_growth %>

    <%= f.label :ten_year_growth %>
    <%= f.text_field :ten_year_growth %><br>

    <%= f.submit "Create Stock", class: "btn btn-large btn-primary"%>
  
 <% end %>
</div>
