 <%= form_for (@stock) do |f| %> 

 <%= f.error_messages %>

  <%= f.label :name %>
  <%= f.text_field :name %>
   </p>
   <p>
  <%= f.label :symbol %>
  <%= f.text_field :symbol %>
   </p>
   <p>
  <%= f.label :price %>
  <%= f.text_field :price %>
   </p>
   <p>
  <%= f.label :pe %>
  <%= f.text_field :pe %>
   </p>
   <p>
  <%= f.label :div %>
  <%= f.text_field :div %>
   </p>
   <p>
  <%= f.submit %>
  <%= link_to "Home", stocks_path %>
 <% end %>
