<h2>Add New Stock Info</h2>
 <%= form_for(@stock) do |f| %> 

 <%= f.error_messages %>

    <%= f.label :name %><br />
    <%= f.text_field :name %>
   </p>
   <p>
    <%= f.label :symbol %><br />
    <%= f.text_field :symbol %>
   </p>
   <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
   </p>
   <p>
    <%= f.label :pe %><br />
    <%= f.text_field :pe %>
   </p>
   <p>
    <%= f.label :div %><br />
    <%= f.text_field :div %>
   </p>
   <p>
    <%= f.label :guess_growth %><br />
    <%= f.text_field :guess_growth %>
   </p>
   <p>
    <%= f.label :ten_year_growth %><br />
    <%= f.text_field :ten_year_growth %>
   </p>
   <p>
    <%= f.submit %>
    <%= link_to "Home", stocks_path %>
 <% end %>
