<h2>Current Stock Data</h2>

<table>
<tr><td width="100"><b>Name</td><td width="100"><b>Symbol</td><td width="100"><b>Price</td><td width="100"><b>PE</td><td width="100"><b>Div</td><td width="100"><b>Add Earnings</td><td width="100"><b>Show Earnings</td></tr>

<% @stocks.each do |stock| %>

<tr><td><%= link_to stock.name, stock%></td><td><%= stock.symbol%></td><td><%= stock.price%></td><td><%=stock.pe%></td><td><%= stock.div%> </td><td><%= link_to "Add Earnings", new_stock_earning_path(stock.id) %> </td><td><%= link_to "Show Earnings", stock_earnings_path(stock.id) %> </td></tr>
<% end %>
</table>

<p>
</p>	

<%= link_to "New Stock", new_stock_path %>
<%= link_to "Update All Stocks", stocks_path(:update_all) %>


