
<table class="stocktable" >
<tr>
  <td class="stocktable" width="100"><h2>Name:</h2></td>
  <td class="stocktable"><%=  @stock.name    %></td>
</tr>
<tr>
  <td class="stocktable" width="150"><h2>Symbol:</h2></td>
  <td class="stocktable" ><%= @stock.symbol.upcase  %></td>
</tr>
<tr>
  <td class="stocktable" width="100"><h2>Price:</h2></td>
  <td class="stocktable" ><%= @stock.price   %></td>
</tr>
<tr>
  <td class="stocktable" width="100"><h2>PE:  </h2></td>
  <td class="stocktable"><%= @stock.pe      %></td>
</tr>
<tr>
  <td class="stocktable" width="150"><h2>Div. Yield:  </h2></td>
  <td class="stocktable" ><%= @stock.div     %></td>
</tr>
</table> 
</br>
<table class="stocktable">
  <tr>
    <td class="stocktable"><%= link_to "| Edit Stock |", edit_stock_path(@stock), :method => "get" %> </td> 
    <td class="stocktable"><%= link_to "| Delete Stock |",
  stock_path(@stock),
  :method => :delete,
  :confirm => "Hey Buddy!  Are you sure you want to delete this stock?"%></td> 
    <td class="stocktable"><%= link_to "| Add Earnings |", new_stock_earning_path(@stock)  %> </td> 
    <td class="stocktable"><%= link_to "| Edit Earnings |", edit_stock_earning_path(@stock)%> </td> 
    <td class="stocktable"><%= link_to "| Cancel |", stocks_path, :method => "get" %> </td> 
  </tr>
</table>

</br>
</br>
<%= form_for @stock do |f| %> 
 <%= f.error_messages %>

 <h2>Earnings</h2>

<table>
<tr><td><b>Year</td><td><b>Earnings</td><td><b>PE</td><td><b>Div.</td><td><b>SH EQ</td><td><b>ID</td></tr>

  <%= f.fields_for :earnings do |earning_fields| %>
  <tr>
  <td>
    <%= earning_fields.text_field :year   %>
  </td>
  <td>
    <%= earning_fields.text_field :earnings  %>
  </td> 
  <td>
    <%= earning_fields.text_field :pe %>
  </td>
  <td>
    <%= earning_fields.text_field :div %>
  </td>
  <td>
   <%= earning_fields.text_field :sheq %>
  </td>
  <td>
    <%= earning_fields.text_field :id %>
  </td>
</tr>
<% end %>
</table>
 </p>
  <% end %>

